@import "tailwindcss";

body {
  font-family: "Quicksand", "Comic Sans MS", sans-serif;
  background: #ffdce6;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fade {
  animation: fade 0.5s ease-in-out;
}
